* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik',
    sans-serif;
}

header {
  background: #F6F6F9;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;

}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 300;
  height: 30px;
  padding: 3px;
  background-color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #295091;

}

.header-span {
  margin-right: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #285193;
}

.header-right-p {
  color: #7A7A7A;
  margin-left: 17px;
}

.search {
  width: 38.1px;
  height: 40px;
  left: 1025px;
  top: 44px;

  background: #FFFFFF;
  border-radius: 5px;
  padding: 11px;
  margin-right: 30px;
}

.ru {
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 23px;
}

.ru::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(./images/ru.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.podpisatsya {
  text-decoration: none;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 11px;
}

.podpisatsya::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(./images/telegram.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}


/* ******************header-nav***************** */
.header-ul {
  margin-top: 44px;
  margin-bottom: 18px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 22px;

  width: 1200px;
  height: 68px;
  left: 119px;
  top: 124px;

  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px
}

.header-img {
  width: 1200px;
  height: 99px;
}

/* ***************************************main****************** */

.main-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 12px;
}

main {
  padding: 17px 0 40px 0;
}

input {
  margin-bottom: 20px;
  width: 600px;
  height: 50px;
  padding-left: 15px;
  left: 119px;
  top: 391px;

  background: #F1F1F1;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  padding: 16px 0 0 15px;
  width: 600px;
  min-height: 307px;
  left: 119px;
  top: 671px;

  background: #F1F1F1;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

label[for="file-input"] {
  display: inline-block;
  left: 119px;
  top: 998px;
  width: 221px;
  background: #FBFBFB;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

label[for="file-input"]::after {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(./images/Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 14px;
}

input[type="password"] {
  display: inline-block;
  left: 119px;
  top: 998px;
  width: 221px;
  background: #FBFBFB;
  opacity: 0.3;
  border: 2px solid #285193;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

button[type="submit"] {
  left: 119px;
  top: 1138px;
  padding: 15px 61px 14px 61px;
  background: #295093;
  border: 2px solid rgba(40, 81, 147, 0.54);
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
}




/* ****************************main-right************** */
.main-right {
  width: 510px;
  left: 809px;
  top: 391px;
  padding: 25px;
  background: #FFFFFF;
  border: 2px solid #BCC3CD;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -12px 11px 9px rgba(57, 57, 57, 0.25);
  border-radius: 5px;

}

.main-right-bottom {
  display: flex;
}

.main-right-bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #888888;
  margin-bottom: 30px;
}

.logo-bottom {
  display: flex;
  margin-left: auto;
  width: 329px;
  height: 33px;
  margin-bottom: 21px;
}

.mail {
  text-decoration: none;
  display: flex;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: auto;
  color: #888888;
}

.vectors {
  margin-left: auto;
}

.vectors img {
  width: 32px;
  height: 32px;
}

.podpisatsya-bottom {
  width: 150px;
  text-decoration: none;
  left: 79.79%;
  right: 9.79%;
  top: 38.82%;
  bottom: 58.91%;
  padding: 6px 10px;
  background: #295091;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 24px;
  margin-left: auto;
}

.podpisatsya-bottom::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(./images/telegram.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.main-right-bottom-right {
  margin-left: auto;
}

/* ******************************footer****************** */
/* *************************futer***************** */
footer {
  background-color: #295093;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 20px;
}

.futer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #133C82;
  padding-bottom: 27px;
}

.futer-top-right {
  display: flex;
  align-items: center;
}

.footer-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;
  padding: 10px;
  background: #133C82;
  border-radius: 5px;
}

.footer-top-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;
}

.footer-btn1 {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #295093;
}

.footer-btn {
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 17px;
  padding: 10px;
  border: none;
}

.footer-btn::before {
  content: '';
  width: 17px;
  height: 19px;
  display: inline-block;
  background-image: url(./images/Vector\ \(1\).svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

/* **************************************** */
.footer-bottom {
  display: flex;
  margin-top: 20px;
}

.footer-div-1 {
  width: 365px;
}

.footer-nav1 {
  margin-left: 115px;
  margin-right: 115px;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

li:hover {
  cursor: pointer;
}

h6 {
  margin-bottom: 20px;
}